
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IProcessorDocParser/obj/Debug
/IProcessorDocParser/bin
/IProcessorPdfParser/obj/Debug
/IProcessorPdfParser/bin
/IProcessorWeb/obj/Debug
/IProcessorWeb/bin
/.vs
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
.dll
.pdb
.cache
.exe
*.jfm
# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

#Scrapy
/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
.venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
gmd/*.csv
gmd/*.json
builds/

# Mac
*.DS_Store

# Windows
Thumbs.db
/builds/0/project-0/
/builds/0/project-0.tmp/git-template/config
.venv/

data_samples/
venv/
.ipynb_checkpoints

node_modules/
.jest/
.next/
.webpack_cache/
dist/
graphql_api_build/
assert_item_in_parser_output

/.vscode
/.vscode/
/data_scraping/azure_scraping/.vscode/
/cert/

/upwork_report
